$error-color: #f00;

.radio-box-group {
  grid-column-start: 1;
  grid-column-end: span 2;
  justify-self: left;
}

.radio-box {
  padding: 0.5em;

  border: 1px solid;
}

.invalid {
  border: 1px solid $error-color;
}

.error {
  grid-column-start: 1;
  grid-column-end: span 2;
  color: $error-color;
}