.text-area {
  grid-column-start: 1;
  grid-column-end: span 2;
  font-size: 1em;
  height: 7em; }

.invalid {
  border: 1px solid #f00; }

.error {
  grid-column-start: 1;
  grid-column-end: span 2;
  color: #f00; }
