.comment {
  margin: 1em 0 1em 0;
  padding: 1em;
  width: 65%;
  border: 1px solid; }

.comment-title {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.3em; }

.comment-body {
  text-indent: 1.5em; }
