$error-color: #f00;

.text-input {
  font-size: 1em;
  width: 100%;
}

.invalid {
  border: 1px solid $error-color;
}

.error {
  grid-column-start: 1;
  grid-column-end: span 2;

  display: flex;
  flex-direction: column;
  color: $error-color;
}
