.modal-overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.modal {
  margin: 0 auto;
  padding: 30px;
  border-radius: 3px;
  height: max-content;
  background-color: #fff; }

.modal-action {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 40px; }
