.header {
  display: grid;
  grid-template-columns: auto 55% 8vw;
  grid-column-gap: 2%;
  justify-content: left;

  padding: 1em;
  margin-bottom: 2em;

  border: 1px solid;
  width: auto;
}

.header-title {
  width: max-content;
  align-self: center;
}

.header-info-group {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30% 30% 30%;
  grid-row-gap: 5%;
  align-content: stretch;
}
