.login-page {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 0.2vh;
  grid-column-gap: 0.5vw;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid;
  width: 60%; }

.login-page-header {
  grid-column: 1 / span 2; }

.login-page-line {
  grid-column: 1 / span 2;
  width: 100%; }
