.post {
  display: grid;
  grid-column-gap: 10%;
  grid-template-rows: 15% 75%;
  grid-template-columns: 75% 15%;
  justify-content: space-between;
  align-content: space-between;

  margin: 1em 0 1em 0;
  padding: 1em;

  border: 1px solid;
}

.post-title {
  margin-top: 0;

  font-size: 1.8em;
  &:first-letter {
    text-transform: capitalize;
  }
}

.post-content {
  text-indent: 2em;
  &:first-letter {
    text-transform: capitalize;
  }
}